.editWrapper
  .editHeader
    .editHeader--title
      -# = link_to root_path,"data-turbolinks": false  do
      -#   = image_tag 'logo_subsctime.png', class: 'logo-img2'
    .editHeader--logout
      = link_to destroy_user_session_path, method: :delete, class: 'headerTopOut' do
        ログアウト
  .editMain
    .editMain--title MyAccount
    .editMain--content
      .editMain--content__title 会員情報
      .editMain--contentFrom
        =form_with(model: @address, url: user_registration_path, method: :patch, html:{class: "personal-input-form"}, local: true) do |f|
          =render "devise/shared/error_messages", resource: @address
          .form_text
            = f.label :名前
            %span.textimage 必須
            = f.text_field :name,{autofocus: true, placeholder: "山田太郎", class: 'input-text'}
          .form_text
            = f.label :フリガナ 
            %span.textimage 必須
            = f.text_field :name_kana,{autofocus: true, placeholder: "ヤマダタロウ", class: 'input-text'}
          .form_text
            = f.label :郵便番号 
            %span.textimage 必須
            = f.text_field :postal_code,{autofocus: true, placeholder: "1234567", class: 'input-text', id: 'code'}
          .form_text
            = f.label :都道府県
            %span.textimage 必須
            = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt:"選択してください"}, {class: 'input-text'}
          .form_text
            = f.label :市町村
            %span.textimage 必須
            = f.text_field :city, autofocus: true, placeholder: "□□市□□町", class: 'input-text'
          .form_text
            = f.label :番地
            %span.textimage 必須
            = f.text_field :house_number, autofocus: true, placeholder: "□□1-12", class: 'input-text'
          .form_text
            = f.label :建物名
            %span.textimage#free 任意
            = f.text_field :building_name, autofocus: true, placeholder: "Aビル315", class: 'input-text'
          .form_text
            = f.label :電話番号
            %span.textimage 必須
            = f.text_field :tell, autofocus: true, placeholder: "09012345678", class: 'input-text'
          .from_btn
            = f.submit '情報を更新', class: "editbtn"
    .editCard
      .editCard--Title
        クレジットカード情報
      - if @card.blank?
        .cardadd
          .cardadd-content
            = link_to new_card_path, class: 'card_add', "data-turbolinks": false do
              = image_tag 'card.png', class: 'card_addlogo'
              .cardadd-text  カードを追加
      -else 
        .editCard__content
          .credit_card
            .header CREDIT CARD
            .creImg 
            .credit_card_num
              = "**** **** **** " + @default_card_information.last4
            .footer
              .footer-left
                .footer-left__month
                  - exp_month = @default_card_information.exp_month.to_s
                  - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                  = exp_month + " / " + exp_year
              .footer-right
                .footer-right__brand 
                  .footer-right__brandtitle 
                    = @default_card_information.brand
          = form_tag(delete_cards_path, method: :post, id: 'charge-form',  name: "inputForm") do
            %input{ type: "hidden", name: "card_id", value: "" }
            %button 
              = icon('fas', 'trash-alt', class: "trash-alt")
  .editFooter
    .editDelete 
      退会
      .editDelete__btn
        %button#modal-open-btn   
          = link_to '退会する', root_path, class: 'delete-btn', id: 'deleteBtn'
          //これだとすぐdelete動きエラー
          -# = link_to '退会', user_registration_path, class: 'delete-btn', id: 'deleteBtn', method: :delete
        #overlay
          #modalWindow
            .modal-message-box
              %div 確認
              %div 退会すると全てのデータが削除されます
            %button#modal-close-btn キャンセル
            %button#delete-comformation-btn 退会する
    .editCopy
      %small Copyright &copy; 2020 HAMADA TAKUMI. All Right Reserved.