.signmain  
  .container
    %h1 SubscTime
    %h2 Create a new account
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      %fieldset.form-fieldset.ui-input.__first
        = f.text_field :name, autofocus: true, autocomplete: "off", tabindex: "0"
        %label{:for => "username"}
          %span{"data-text" => "Username"} Username
      %fieldset.form-fieldset.ui-input.__second
        = f.email_field :email, autofocus: true, autocomplete: "off", tabindex: "0"
        %label{:for => "email"}
          %span{"data-text" => "E-mail Address"} E-mail Address
      %fieldset.form-fieldset.ui-input.__third
        = f.password_field :password, autocomplete: "new-password", class: 'password'
        %label{:for => "new-password"}
          %span{"data-text" => "New Password"} New Password
      %fieldset.form-fieldset.ui-input.__fourth
        = f.password_field :password_confirmation, autocomplete: "new-password", class: 'password'
        %label{:for => "repeat-new-password"}
          %span{"data-text" => "Repeat New Password"} Repeat New Password
          %i#passEye.far.fa-eye.signup
      .form-footer
        = f.submit 'Create Account', class: "btn"
      -# %button.btn Create Account



