.index--container
  = render partial: "toppage/header"
  -# %p.notice= notice
  -# %p.alert= alert
  .recommned
    .slider
      = image_tag 'sample.png', class: 'slider_img'

  .product
    %h2.product--title Recommend
    = paginate @products
    - @products.each do |product|
      .product--list
        = link_to product_path(product.id) do
          = image_tag product.img.thumb.url, class: 'product--list__img'
          .product--listfoot
            .product--listfoot__name
              = product.product_name
            .product--listfoot__price
              = "#{product.price.to_s(:delimited, delimiter: ',')}円(税込)"
  -# = paginate @products
  .footer
-# data: {"turbolinks"=>false}