.headerTop
  = link_to root_path,"data-turbolinks": false  do
    = image_tag 'logo_subsctime.png', class: 'logo-img',width: '150px'
.profile-header
  %h1 プロフィール変更
.profile-detail
  = render partial: "users/address"
  .next
    = f.submit '登録', class: "nextbtn"

= link_to destroy_user_session_path, method: :delete, class: 'headerTopOut' do
  ログアウト
