.index--container
    = render partial: "toppage/header"

%h5.cotnact-title お問い合わせ
.form
    = form_with model: @contact , class: 'ContactForm', local: true do |f|
        .form-label
            = f.label :お名前
        %p= f.text_field :name, { class: 'field'}
        .form-label 
            = f.label :アドレス
        %p= f.text_field :mail, { class: 'field'}
        .form-label 
            = f.label :お問い合わせ内容
        %p= f.text_area :message, { class: 'field'}
        %p= f.submit '送信する'

