- if user_signed_in?
  .header
    .hdrInnerWrap
      .headerTop
        = link_to root_path  do
          = image_tag 'logo_subsctime.png', class: 'logo-img' 
      = link_to destroy_user_session_path, method: :delete, class: 'headerTopOut' do
        ログアウト
        -# = link_to "マイページ", "/users/#{current_user.id}", class: 'headerTopMypage'
        -# = link_to new_product_path, class: 'headerTopNew'  do
        -#   出品する
      .headerSearch
        = form_with(url: search_products_path, local: true, method: :get, class: "headerSearchbox") do |form| 
          = form.text_field :keyword, placeholder: "商品を検索する例    ）iPad.....etc", class: "headerSearchbox__text", autocomplete: "off"
          = form.submit "検索", class: "headerSearchbox__btn"
- else
  .header
    .hdrInnerWrap
      .headerTop
        = link_to "SubscTime", root_path, class: 'headerTopto'
        = link_to "ログイン", new_user_session_path, class: "headerTopOut"
        = link_to "新規登録", new_user_registration_path, class: "headerTopMypage"