- if user_signed_in?
  - if flash[:notice]
    = flash[:notice]

  .header
    .hdrInnerWrap
      .headerTop
        = link_to root_path,"data-turbolinks": false  do
          = image_tag 'logo_subsctime.png', class: 'logo-img'
          
      .headerRight
        = link_to root_path, class: 'headerRight-title' do
          Subsctimeとは？
        = link_to root_path, class: 'headerRight-title' do
          お客様サポート
        = link_to new_product_path, class: 'headerRight-title'  do
          出品する
        -if @address
          = link_to edit_user_registration_path, class: 'headerRight-mypage', "data-turbolinks": false do
            = icon('fas', 'user-cog', class: "user-cog")
        -else
          = link_to addresses_path, class: 'headerRight-mypage', "data-turbolinks": false do
            = icon('fas', 'user-cog', class: "user-cog")
      -# .headerSearch #検索
      -#   = form_with(url: search_products_path, local: true, method: :get, class: "headerSearchbox") do |form| 
      -#     = form.text_field :keyword, placeholder: "商品を検索する例    ）iPad.....etc", class: "headerSearchbox__text", autocomplete: "off"
      -#     = form.submit "検索", class: "headerSearchbox__btn"
- else
  .header
    .hdrInnerWrap
      .headerTop
        = link_to root_path,"data-turbolinks": false  do
          = image_tag 'logo_subsctime.png', class: 'logo-img'
      = link_to "ログイン", new_user_session_path, class: "headerTopOut", "data-turbolinks": false
      .headerRight
        = link_to root_path, class: 'headerTopOut' do
          Subsctimeとは？        
        - if user_signed_in? && current_user
          = link_to edit_user_registration_path, class: '', "data-turbolinks": false  do
            マイページ
        - else
          = link_to new_user_session_path, class: '', "data-turbolinks": false  do
            loginアイコン