- if user_signed_in?
  - if flash[:notice]
    = flash[:notice]

  .header
    .hdrInnerWrap
      .headerTop
        = link_to root_path,"data-turbolinks": false  do
          = image_tag 'logo_subsctime.png', class: 'logo-img'
          
      .headerRight
        = link_to root_path, class: 'headerRight-title' do
          Subsctimeとは？
        = link_to root_path, class: 'headerRight-title' do
          お客様サポート
        = link_to new_product_path, class: 'headerRight-title'  do
          出品する
        = link_to destroy_user_session_path, method: :delete, class: 'headerTopOut' do
          ログアウト
        -if Address.exists?(user_id: current_user.id)
          = link_to edit_user_registration_path, class: 'headerRight-mypage', "data-turbolinks": false do
            = icon('fas', 'user-cog', class: "user-cog")
        -else
          = link_to addresses_path, class: 'headerRight-mypage', "data-turbolinks": false do
            = icon('fas', 'user-cog', class: "user-cog")
      -# .headerSearch #検索
      -#   = form_with(url: search_products_path, local: true, method: :get, class: "headerSearchbox") do |form| 
      -#     = form.text_field :keyword, placeholder: "商品を検索する例    ）iPad.....etc", class: "headerSearchbox__text", autocomplete: "off"
      -#     = form.submit "検索", class: "headerSearchbox__btn"
- else
  .header
    .hdrInnerWrap
      .headerTop
        = link_to root_path,"data-turbolinks": false  do
          = image_tag 'logo_subsctime.png', class: 'logo-img'
      .main
        = link_to "ログイン", new_user_session_path, class: "headerTopOut", "data-turbolinks": false
      .main2
        = link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post
      .headerRight
        = link_to root_path, class: 'headerTopOut' do
          Subsctimeとは？        
        = link_to new_user_session_path, class: '', "data-turbolinks": false  do
          loginアイコン