%p.notice= notice
%p.alert= alert
.signmain  
  .container
    = link_to root_path,"data-turbolinks": false do
      %h1.containertitle SUBSCTIME

    %h2 Log in
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      -# = render "devise/shared/error_messages", resource: resource
      
      %fieldset.form-fieldset.ui-input.__second
        = f.email_field :email, autofocus: true, autocomplete: "off", tabindex: "0"
        %label{for: "email"}
          %span{"data-text" => "E-mail Address"} E-mail Address
      %fieldset.form-fieldset.ui-input.__third
        = f.password_field :password, autocomplete: "current-password",class: 'toggle-password password'
        %label{for: "new-password"}
          %span{"data-text" => "New Password"} New Password
          %i#passEye.far.fa-eye.signin
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me
      .form-footer
        = f.submit 'Login', class: "btn"
        .form-footer2
          = link_to image_tag('googlein.png', width: '200px'), user_google_omniauth_authorize_path, class: 'goooglein'
          -# - resource_class.omniauth_providers.each do |provider|
          -#   = link_to image_tag('googlein.png', width: '200px'), omniauth_authorize_path(resource_name, provider), class: 'goooglein'
        .form-footer_sing_up 
          = link_to new_user_registration_path, class: 'sing_up_btn',"data-turbolinks": false  do
            SIGN UP