.cardWrapper
  .container
    .header
      .logo
        = link_to root_path,"data-turbolinks": false  do
          = image_tag 'logo_subsctime.png', class: 'logo-img',width: '150px'
  .card-title
    クレジットカード登録
  .card--container
    .form-group
      #payjp-form
    .form-group
      = form_with url: pay_cards_path, method: :post,id: "card_form" do |f|
        #card_token
        = f.submit "登録する", class:"payBtn", id: "pay_submit"
  .card-title
    登録せずに始める
  .card-root
    .root-btn
      = link_to 'トップページに戻る', root_path,"data-turbolinks": false
  .editCopy
    %small Copyright &copy; 2020 HAMADA TAKUMI. All Right Reserved.