.index--container
  = render partial: "toppage/header"
  .recommned
    .slider
      -# = image_tag 'sample.png', class: 'slider_img'
          / Slider main container
      .swiper-container
        / Additional required wrapper
        .swiper-wrapper
          / Slides
          .swiper-slide
            = image_tag "img_1.jpg"
          .swiper-slide
            = image_tag "img_2.jpg"
          .swiper-slide
            = image_tag "img_3.jpg"
          .swiper-slide
            = image_tag "img_4.png"
          -# \...
        / If we need pagination
        .swiper-pagination
        / If we need navigation buttons
        -# .swiper-button-prev
        -# .swiper-button-next
        / If we need scrollbar
        -# .swiper-scrollbar
      

  = form_with(url: search_products_path, local: true, method: :get,class: "search-form") do |form| 
    = form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input", autocomplete: "off"
    = form.submit "検索", class: "search-btn"

  .product
    %h2.product--title Recommend
    = paginate @products
    - @products.each do |product|
      .product--list
        = link_to product_path(product.id) do
          = image_tag product.img.thumb.url, class: 'product--list__img'
          .product--listfoot
            .product--listfoot__name
              = product.product_name
            .product--listfoot__price
              = "#{product.price.to_s(:delimited, delimiter: ',')}円(税込)"
  -# = paginate @products
  .editCopy.copy
    %small Copyright &copy; 2020 HAMADA TAKUMI. All Right Reserved.
-# data: {"turbolinks"=>false}