.index--container
  = render partial: "toppage/header"
  -# %p.notice= notice
  -# %p.alert= alert
  .recommned
    .slider
      = image_tag 'sample.png', class: 'slider_img'
      -#     / Slider main container
      -# .swiper-container
      -#   / Additional required wrapper
      -#   .swiper-wrapper
      -#     / Slides
      -#     .swiper-slide Slide 1
      -#     .swiper-slide Slide 2
      -#     .swiper-slide Slide 3
      -#     \...
      -#   / If we need pagination
      -#   .swiper-pagination
      -#   / If we need navigation buttons
      -#   .swiper-button-prev
      -#   .swiper-button-next
      -#   / If we need scrollbar
      -#   .swiper-scrollbar


  .product
    %h2.product--title Recommend
    = paginate @products
    - @products.each do |product|
      .product--list
        = link_to product_path(product.id) do
          = image_tag product.img.thumb.url, class: 'product--list__img'
          .product--listfoot
            .product--listfoot__name
              = product.product_name
            .product--listfoot__price
              = "#{product.price.to_s(:delimited, delimiter: ',')}円(税込)"
  -# = paginate @products
  .footer
-# data: {"turbolinks"=>false}