.index--container
  = render partial: "toppage/header"
.show
  .showProduct
    .showProduct-left
      = image_tag @product.img.url, class: 'showProduct-left_image'
    .showProduct-main
      .showProduct-mainTop
        .showProduct-mainTop_name
          = @product.product_name
        .showProduct-mainTop_price
          = "#{@product.price.to_s(:delimited, delimiter: ',')}円"
          %span.mainprice (税込)
        .showProduct-mainTop_count
          %p.title 数量
          = form_for(@product) do |f|
            = f.text_field :price, class: 'from_price'
            = button_tag type: 'submit', class: 'submitbtn' do
              %span 
                = icon('fas', 'shopping-cart', class: "cart__icon")
                購入する
  .show-content
    .show-content__title 特徴
    .show-content__text
      %ul
        %li
          = image_tag 'sample.png', width: '500px'
        %li
          = image_tag 'sample.png', width: '500px'
      .explain 
        ハードな作業も、サクサクこなそう。
        %ul
          %li
            = image_tag 'sample.png', width: '500px'
          %li
            = image_tag 'sample.png', width: '500px'
      .explain 
        こんなにもバッテリーが持ち待ちます
    .show-content__title 仕様
    .tableshow
      .show__img 
        = image_tag @product.img.url, width: '250px'
      .show__table
        .resource
          %table
            %tr
              %td  色
              %td  グロスホワイト
            %tr
              %td  実容量
              %td 200ml
            %tr
              %td 生産国
              %td 日本
            %tr
              %td 材質
              %td 磁気




  .showComment
    - if current_user
      = form_with(model: [@product, @comment], class: 'showComment__form', id: "new_comment") do |form|
        = form.text_field :text, placeholder: "コメントここに書いてね", class: 'showComment__text', autocomplete: "off"
        = form.submit "コメント", class: 'showComment__btn'
    - else
      %strong
  -#       %p ※ コメントの投稿には新規登録/ログインが必要です ※
        

  .showProduct-comments
    %h4.comment.show   コメント一覧
    - if @comments
      - @comments.each do |comment| 
        .showProduct-comment
          .b-left-wrapper
          = link_to comment.user.name, "/users/#{comment.user_id}", class: 'b-left-wrapper__name'
          .b-left
            = comment.text

= link_to edit_product_path do
  編集
