.index--container
  = render partial: "toppage/header"
.show
  .showProduct
    .showProduct-left
      = image_tag @product.img.url, class: 'showProduct-left_image'
    .showProduct-main
      .showProduct-mainTop
        .showProduct-mainTop_name
          = @product.product_name
        .showProduct-mainTop_price
          = "#{@product.price.to_s(:delimited, delimiter: ',')}円"
          %span.mainprice (税込)
        .showProduct-mainTop_count
          %p.title 数量
          = form_for(@product) do |f|
            = f.text_field :price, class: 'from_price'
            = button_tag type: 'submit', class: 'submitbtn' do
              %span 
                = icon('fas', 'shopping-cart', class: "cart__icon")
                購入する
  .show-content
    .show-content__title 特徴
    .show-content__text
      .explain 
        = safe_join(@product.description.split("\n"),tag(:br))
    .show-content__title 仕様
    .tableshow
      .show__img 
        = image_tag @product.img.url, width: '250px'
      .show__table
        .resource
          %table
            %tr
              %td  色
              %td  グロスホワイト
            %tr
              %td  実容量
              %td 200ml
            %tr
              %td 生産国
              %td 日本
            %tr
              %td 材質
              %td 磁気



  .commentTitle レビュー
  .commentcontainer
    .showComment
      - if current_user
        = form_with(model: [@product, @comment], class: 'showComment__form', id: "new_comment") do |form|
          = form.text_field :text, placeholder: "レビューをここに書いてね   (40字以内)", class: 'showComment__text', autocomplete: "off"
          %input.st{:name => "scroll_top", :type => "hidden", :value => ""}
          = form.submit "投稿", class: 'showComment__btn'
      - else
        %strong
          %p ※ コメントの投稿には新規登録/ログインが必要です ※
          
    
    .showProduct-comments
      
      - if @comments
        - @comments.each do |comment| 
          .showProduct-comment
            .b-left-wrapper
            = link_to comment.user.name, "/users/#{comment.user_id}", class: 'b-left-wrapper__name'
            .b-left
              = comment.text
.editCopy.copy
  %small Copyright &copy; 2020 HAMADA TAKUMI. All Right Reserved.
= link_to edit_product_path do
  編集
