%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Subsctime
    %script{src: "https://js.pay.jp/v2/pay.js"}
    -# = favicon_link_tag('favicon.ico')
    = csrf_meta_tags
    = csp_meta_tag
    -# = include_gon
    = stylesheet_link_tag "https://unpkg.com/swiper/swiper-bundle.min.css"
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag "https://unpkg.com/swiper/swiper-bundle.min.js"
    = javascript_include_tag 'application'
    -# = javascript_pack_tag 'application', 'data-turbolinks-track': 'load'
  %body
    .wrapper
      = yield
      .notifications
        - flash.each do |key, value|
          = content_tag(:div, value, class: key)
